<nav class="sidebar">
  <%= link_to profiles_path do %>
    <%= image_tag('large/missing.png') %>
  <% end %>
  <ul>
    <li>
      <%= link_to 'Users', profiles_path, class: 'main-section' %>
      <ul class="sub-nav">
        <li><%= link_to 'Apprentices', profiles_path(anchor: 'apprentices') %></li>
        <li><%= link_to 'New Hires', profiles_path(anchor: 'new-hires') %></li>
        <li><%= link_to 'Employees', profiles_path(anchor: 'full-time') %></li>
      </ul>
    </li>
  </ul>
</nav>
